.weather-app {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0c0101;
}

.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('weatherbg.webp');
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.weather-container {
	text-align: center;
	padding: 20px;
	border: 1px solid #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather-data {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}

#weather-image {
	width: 100px;
	height: 100px;
	margin: 20px;
	border-radius: 50%;
}

#search-btn, #reset-btn {
	background-color: transparent;
	color: #007BFF; /* Blue color that matches the main background */
	padding: 5px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    height: 30px;
}

#search-btn:hover, #reset-btn:hover {
	color: #fff; /* White color on hover */
	background-color: rgba(0, 123, 255, 0.2); /* Light blue background on hover */
}

#reset-btn{
    background: transparent;
    color: #007BFF;
    margin-right: 10px;
}