*{
    margin: 0;
    padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}

body{
 background-color:palegoldenrod;
display: flex;
}


div{
  height: 200px;
  width: 200px;
  display: flex;
}

#box1{
  background-color:rgb(217, 217, 23);
 
  
}


#box2{
   background-color: pink;
  
}
  
#box3{
  background-color: rgb(228, 16, 52);
  
}

main{

}
