/* *{
    margin: 0;
    padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
} */

  

.btn{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    
}

.btn1{
    background-color: transparent;
    border: none;
    color: aliceblue;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(194, 2, 2, 0.664), 0 0 15px rgba(194, 2, 2, 0.664), 0 0 350px rgba(194, 2, 2, 0.664);    
}

.tcon{
    background: url(img2.jpg);
    width: 90%;
    height: 450px;
    background-size: 100% 100%;
    object-fit: cover;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 64px;
    box-shadow: 0 0 10px rgba(40, 35, 35, 0.766), 0 0 15px rgba(231, 231, 231, 0.664), 0 0 350px rgba(231, 231, 231, 0.664);
    

}
.elo{
    height: 90px;
    width: 90px;
    border-color: rgb(10, 10, 10);
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-left: 550px;
    border-radius: 50px;
    border: 1px solid white; background-color: white;
}

.sbox1{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    margin-left: 10px;
}

.loc1{
   
    margin-top: 10px;
    height: 20px;
}


.head1{
    color: rgb(253, 253, 253);
    display: flex ;
    justify-content: center;
    text-shadow: 0 0 10px rgba(194, 2, 2, 0.664), 0 0 15px rgba(194, 2, 2, 0.664), 0 0 350px rgba(194, 2, 2, 0.664);
}

.res{
    
    /* position: relative; */
    min-width: 220px;
    max-width: 330px;
    background-color: white;
    margin: 10PX;
    border-color: black;
    border: none;
   
}
.res1{
    width: 180px;
    height: 20px;
    border: none;
    position: relative;
    left: 10px;
    font-size: medium;
   
    
}
.res1:focus{
    outline: none;
}
    




.fa-solid{
    position: relative;
    left: 10px;
}

/* start to 2nd part */

.qs{
    /* margin-bottom: 20px; */
    margin-left: 60px;
    /* border: 1px solid black; */
    margin-top: 50px;
    
}

#ds{
    margin-bottom: none;
    margin-left: 60px;
    /* border: 1px solid black; */
    margin-bottom: 80px;
   
}

.img1{
    margin-left: 40px;
    object-fit: cover;
    margin-top: 30px;
    display: flex;
    border: 1px solid black;
}

/* .first{
    display: flex;
} */
 .cd1{
    display: flex;
    
} 
.c{
    
    margin-left: 20px;
    margin-top: 30px;
    height: 150px;
    width: 140px;
    /* border: 1px solid black; */
    margin-bottom: 50px;
    /* border: 1px solid black; */
}
.sec{
    height: 100px;
    width: 130px;
    margin-bottom: 80px;
  /* border: 1px solid black; */
} 

.ft{
    /* border: 1px solid black; */
    margin-top: 10px;
}
.p2{
    /* border: 1px solid black; */
    display: flex;
    width: 300px;
    margin-left: 30px;
    box-shadow: 0 0 10px rgba(40, 35, 35, 0.766), 0 0 15px rgba(231, 231, 231, 0.664), 0 0 350px rgba(231, 231, 231, 0.664);
}
  
